<template id="custom-check-date-template">
  <div class="d-flex justify-content-start align-items-center custom-date">
    <div class="d-flex form-label label-width-fixed-md justify-content-between">
      <label for="" class="form-label"></label>
      <input class="form-check-input" type="checkbox">
    </div>
    <div class="input-group">
      <input type="tel" class="form-control" placeholder="">
      <button class="btn btn-primary calendar" type="button">
        <i class="bi bi-calendar"></i>
      </button>
    </div>
    <div style="width: 70px; line-height: 1.2rem; margin-left: 5px;">現在</div>
  </div>
  <div class="mb-1">
    <ul class="invalid-message"></ul>
  </div>
</template>
