<!-- パスワード再設定確認モーダル -->
<div class="modal fade" id="passwordConfirmModal" tabindex="-1" aria-labelledby="passwordConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordConfirmModalLabel">パスワード再設定確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="passwordConfirmMessage">パスワードを再設定しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancelPassword" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" id="btnConfirmPassword" class="btn btn-warning">再設定</button>
      </div>
    </div>
  </div>
</div>