<!-- 登録確認ダイアログ -->
<div class="modal fade" id="registerConfirmDialog" tabindex="-1" aria-labelledby="registerConfirmDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerConfirmDialogLabel">登録確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="registerConfirmMessage">登録してもよろしいですか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancelRegister" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" id="btnConfirmRegister" class="btn btn-primary">登録</button>
      </div>
    </div>
  </div>
</div>