#waitingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 32px;
  }

  .loader {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
  }

  .loader div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0.8;
  }

  .one {
    border-top: 2px solid #8fb259;
    animation: rotate-left 1s linear infinite;
  }

  .two {
    border-right: 2px solid #cccc52;
    animation: rotate-right 1s linear infinite;
  }

  .three {
    border-bottom: 2px solid #ffd933;
    animation: rotate-right 1s linear infinite;
  }

  .four {
    border-left: 2px solid #ff7f00;
    animation: rotate-right 1s linear infinite;
  }

  @keyframes rotate-left {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes rotate-right {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
